<?xml version="1.0"?>
<config>
    <sections>
        <system>
            <groups>
                <job_health translate="label comment" module="tenn_jobhealth">

                    <label>10n Job Health Monitoring</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>19</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <token translate="label">
                            <label>Token</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </token>
                        <logging_enabled translate="label">
                            <label>Logging Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </logging_enabled>

                        <log_file translate="label">
                            <label>Log Filename</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </log_file>
                        <always translate="label">
                            <label>"Always" Cron Schedule</label>
                            <frontend_type>text</frontend_type>
                            <comment>For "always" tasks, enter the system cron expression for the Magento cron job.
                                This will usually be "* * * * *" or "*/5 * * * *".</comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </always>
                    </fields>
                </job_health>
            </groups>
        </system>
    </sections>
</config>
